
<img class="background" src="../../../assets/img/ai.jpg" alt="">
<div class="container-fluid text-left" style="margin-top: 10%">
    <div class="jumbotron" style="background-color: #1166bb5c;">
        <h1 class="display-5">ChatBot</h1>
        <p class="lead">Nuestra compañia, ofrece la posibilidad de modernizar tus productos mediante el uso de un bot personalisable, el te ayudará a dar soporte a productos y mejorará la comunicación con tus clientes.</p>
        <hr class="my-4">
        <p>Este bot tiene motor IA</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>