<img class="background" src="../../../assets/img/cobranzas.jpg" alt="">
<div class="container-fluid text-left" style="margin-top: 10%; margin-right: auto">
    <div class="jumbotron" style="background-color: #ffbf00ba; ">
        <h1 class="display-5">Cobranzas</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>