<img class="background" src="../../../assets/img/architecture-business-cabinet-325229.jpg" alt="">
<div class="container-fluid" style="margin-top: 10%">
    <div class="jumbotron" style="background-color: #0000009c; width: 100%" *ngIf="!showDetails">
        <h1 class="display-2">CORE</h1>
        <p class="lead">El Core Bancario BankVision tiene como característica fundamental la capacidad de manejar un gran número de operaciones
            con un óptimo nivel de desempeño. En Estados Unidos ha sido utilizado por bancos de gran volumen, siendo esto
            una garantía de lo confiable y robusto del sistema.</p>
        <hr class="my-4">
        <p>Nuestro CORE usa como base el sistema AS400, soportado por IBM.</p>
        <p class="lead">
            <button mat-raised-button style="background-color: #000000;color: white;" (click)="showInfo()">Ver mas información</button>
        </p>
    </div>
<div *ngIf="showDetails" class="row" style="margin-left: auto; margin-right: auto; width: 75%">
    <div class="col-lg-6" style="width: 45vh; background-color:  #0000009c">
        <ul style="padding-top: 10px">
          <li *ngFor="let item of details1" >{{item}}</li>
        </ul>
    </div>
    <div class="col-lg-6" style="width: 50vh;background-color:  #0000009c">
            <ul style="padding-top: 10px">
          <li *ngFor="let item of details2" >{{item}}</li>
            </ul>
    </div>
    <button mat-raised-button style="margin-left: auto; margin-right: auto; margin-top: 10px; background-color: #000000c9;color: white;" (click)="showInfo()">Regresar</button>
</div>



</div>