<img class="background" src="../../../assets/img/fabricacredito.jpg" alt="">
<div class="container-fluid text-right" style="margin-top: 9%">
    <div class="jumbotron" style="background-color: #fb11005c; margin-left: auto; margin-bottom: 0%">
      <div *ngIf="showDetails">
        <h1 class="display-5">Fábrica de Crédito</h1>
        <p class="lead"> Nuestra fábrica de crédito realiza rápidamente un completo análisis de toda la información del cliente, garantizando la automatización del proceso de otorgamiento de créditos en las organizaciones</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg"role="button" (click)="showMore()" >Learn more</a>
        </p>
      </div>
<div *ngIf="!showDetails">

     
      <li *ngFor="let item of info"> {{item}}</li>
      
   
</div>




      </div>
</div>