<img class="background" src="../../../assets/img/portalTransaccinal.jpg" alt="">
<div class="container-fluid text-right" style="margin-top: 10%">
    <div class="jumbotron" style="background-color: #9c27b073; margin-left: auto ">
        <h1 class="display-5">Portal Transaccional</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>