
   @media (max-width:3840px) {
    .jumbotron{
      width: 36%
    }
      }
      
      @media (max-width: 750px) {
        .background {
            position:fixed;
             right: 0; 
             bottom: 0;
             min-width: 100%; 
             min-height: 100%;
             width: auto; 
             height: auto;
             z-index: -100;
           }
           .jumbotron{
             margin-top: 65px;
            width: 100%
          }
      }