<swiper class="swiper-container" [config]="config" [index]="index" (indexChange)="onIndexChange($event)">
  <div *ngFor="let slide of slides" class="swiper-slide">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <app-coredetails *ngIf="slide=='Core'" style="width: 100%; height: 100%;"></app-coredetails>
      <app-smartvisiondetails *ngIf="slide=='SmartVision'" style="width: 100%; height: 100%;"></app-smartvisiondetails>
      <app-botdetails *ngIf="slide=='ChatBot'" style="width: 100%; height: 100%;"></app-botdetails>
      <app-factorydetails *ngIf="slide=='Fábrica de creditos'" style="width: 100%; height: 100%;"></app-factorydetails>
      <app-officedetails *ngIf="slide=='Solución de Oficina'" style="width: 100%; height: 100%;"></app-officedetails>
      <app-chargedetails *ngIf="slide=='Cobranzas'" style="width: 100%; height: 100%;"></app-chargedetails>
      <app-portaldetails *ngIf="slide=='Portal Transaccional'" style="width: 100%; height: 100%;"></app-portaldetails>
      <app-vinculationdetails *ngIf="slide=='Vinculaciones'" style="width: 100%; height: 100%;"></app-vinculationdetails>
    </div>
  </div>
  
</swiper>