<div class="container-fluid d-md-flex flex-md-row abautusBkg" style="padding-top: 65px; height: 100%; color: white">
    <ul class="nav nav-tabs d-md-inline-flex align-self-md-start flex-md-column" id="myTab" role="tablist" style="margin-top: 10%; background-color: #3333338f;">
      <li class="nav-item">
        <a class="nav-link active" id="us-tab" data-toggle="tab" href="#us" role="tab" aria-controls="us" aria-expanded="true">Quiénes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="mision-tab" data-toggle="tab" href="#mision" role="tab" aria-controls="mision">Misión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="vision-tab" data-toggle="tab" href="#vision" role="tab" aria-controls="vision">Visión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="politics-tab" data-toggle="tab" href="#politics" role="tab" aria-controls="politics">Política de calidad</a>
      </li>        
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Responsabilidad social</a>
      </li>
    </ul>
    <div class="tab-content py-3 px-md-3 py-md-0" id="myTabContent" style="margin-top: 5%;  background-color: #3333338f;">
      <div class="tab-pane fade show active text-center" id="us" role="tabpanel" aria-labelledby="us-tab">
        <h2>Quiénes somos</h2>
        <hr>
        <p>
          Somos una compañía que se dedica al diseño, elaboración e implementación de aplicaciones de software, con gran reconocimiento
          a nivel nacional e internacional. Actualmente tenemos una amplia cobertura en todos los sectores económicos, tales
          como: financiero, público, educativo, cooperativo, industrial y el comercial; contamos con más de 35 años de experiencia
          durante los cuales hemos tenido la oportunidad de realizar implementaciones exitosas en compañías de primer nivel
          y grandes dimensiones.
        </p>
        <p style="margin-top: 0">
          El recurso humano de BankVision esta está conformado por más de 90 ingenieros con experiencia en el área financiera. Tenemos
          la capacidad de realizar proyectos de gran magnitud, en los cuales se garantizan la calidad y la automatización de
          los procesos que permiten a nuestros clientes transformar sus negocios y construir nuevos modelos que respondan a
          las demandas del mercado.
        </p>
      </div>
      <div class="tab-pane fade text-center" id="mision" role="tabpanel" aria-labelledby="mision-tab">
        <h2>Misión</h2>
        <hr>
        <p>
          BankVision trabaja comprometida con el mejoramiento continuo, con el fin de brindar servicios y productos de alta calidad,
          que contribuyan al crecimiento de sus clientes.
        </p>
      </div>
      <div class="tab-pane fade text-center" id="vision" role="tabpanel" aria-labelledby="vision-tab">
        <h2>Visión</h2>
        <hr>
        <p>
          Mantener integridad financiera y de soporte mientras se avanza en el desarrollo de sólidos productos y servicios de gran
          valor agregado para los clientes. BankVision busca ser una unidad de negocio autónoma que brinda soluciones personalizadas,
          con estándares de la más alta calidad y la mejor infraestructura tecnológica productiva, que le permita garantizar
          la mayor eficiencia en los procesos de sus clientes.
        </p>
      </div>
      <div class="tab-pane fade text-center" id="politics" role="tabpanel" aria-labelledby="politics-tab">
        <h2>Política de Calidad</h2>
        <hr>
        <p>
          Ser una compañía reconocida internacionalmente por su innovación en el desarrollo y suministro de software y servicios informáticos,
          con los más altos estándares de calidad, servicio y talento humano.
        </p>
      </div>    
      <div class="tab-pane fade text-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h2>Responsabilidad social</h2>
        <hr>
        <p class="lead">
          Conscientes de la problemática social y la importancia de ser agentes de cambio, BankVision ha contribuido a la maravillosa
          misión de la Fundación Totus Tuus, la cual busca brindar albergue, atención y ayuda integral a menores con cáncer
          y sus familias, especialmente a aquellas de escasos recursos o en condiciones de abandono o peligro. El objetivo
          principal, es aportar al bienestar, mejoramiento y calidad de vida de los niños que hacen parte de esta fundación.
        </p>
        <p style="margin-top: 0" class="lead">
          Adicionalmente, BankVision, en sus iniciativas de responsabilidad social, decidió sumarse a la campaña “Regalemos sonrisas
          en Navidad” de Coofinep Cooperativa Financiera, entregando alegría a las personas más necesitadas, extendiendo una
          mano afectuosa y amigable..
        </p>
      </div>
  
    </div>
  </div>
  