
    .abautusBkg{
        padding: 50px 0;
        background: url(../../../assets/img/aboutus.jpg) no-repeat 0 0;
        background-size: cover;
        background-attachment: fixed;
        border: 0;
      }

      .nav-link.active {
        color: #ffffff;
        background-color: transparent;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    a {
        color: #bdbdbd;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    @media (max-width:3840px) {
    p {
        margin-top: 7%;
        margin-bottom: 1rem;
        font-size: 20px;
        text-align: justify;
    }
}
    @media (max-width: 750px) {
    p{
        margin-top: 7%;
        margin-bottom: 1rem;
        font-size: 13px;
        text-align: justify;
        padding: 5px
    }}