<div class="row" style="width: 700px; font-family: Arial, Helvetica, sans-serif; font-size: 85%">
    <div class="col-lg-6">
        Encuéntranos en:
    </div>
    <div class="col-lg-2" style="cursor: pointer;">
        <div [matTooltip]="tipBogota">
            <i class="material-icons">place</i>Bogotá</div>
    </div>
    <div class="col-lg-2" style="cursor: pointer;">
        <div [matTooltip]="tipMedellin">
            <i class="material-icons">place</i>Medellín</div>

    </div>
    <div class="col-lg-2" style="cursor: pointer;">
        <div #tool [matTooltip]="tipMiami">
            <i class="material-icons">place</i>Tampa</div>
    </div>
</div>