span{
    margin-left: 30px;
    margin-right: 30px

}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
} 

.fixed-footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    color:white;
    z-index: 2;
    width: 100%
} 
.transparent{
    transition: background-color 0.5s ease;
    font-family: sans-serif;
background-color: transparent;
color: white

}
.colorfull{
    font-family: sans-serif;
    transition: background-color 0.8s ease;
    background-color: rgba(28, 61, 127, 0.7);
    color: white
}
.fullFooter{
transition: width 0.5s ease, bottom 0.5s ease;
width: 100%;
height: 60px;
bottom: 0px;
background-color: #424242cc

}
.resumedFooter{
    transition: width 0.8s ease, bottom 0.8s ease;
width: 50px;
bottom: 10px;
background-color: #424242
}
.example-spacer {
    flex: 1 1 auto;
  }

  .floatButtonTrue{
    transition: top 0.5s ease;

    position: fixed;
    right: 1%;
    top: 93%;
    border-radius: 35px;
    height: 38px;
    width: 38px;
    min-width: 6px;
    padding: 0;
    background-color: #3f51b5ad;
  }

  .floatButtonFalse{
      transition: top 0.8s ease;
    position: fixed;
    right: 1%;
    top: 105%;
    border-radius: 35px;
    height: 38px;
    width: 38px;
    min-width: 6px;
    padding: 0;
    background-color: #3f51b5ad;
  }
  .navItems{
      text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
 li{
     float: left;
     position: relative;
     width: 130px;
    text-align: center;
    cursor: pointer;
 }
 li:hover {
    text-decoration: underline;
}
.smallMenu.mat-menu-panel{
    height: 208px;
}

@media (max-width:3840px) {
.shortMenu{
    display: none;
}
img{
    height: 50px;
}
}

@media (max-width: 750px) {
    ul{
    display: none
}
.shortMenu{
    display: block;
}
img{
    height: 35px;
}
}