<mat-toolbar class="fixed-header" [ngClass]="{'transparent': toolBarColor, 'colorfull':!toolBarColor}" #navbar>

  <mat-toolbar-row>
    <span (click)="goLanding()" style="cursor: pointer;">
      <img src="../../../assets/img/BankVision.png" *ngIf="!toolBarColor" height="50px">

    </span>
    <ul class="navItems">
      <li [matMenuTriggerFor]="menuFullscreen" matTooltip="Conoce nuestras soluciones." (dblclick)="goProducts(0)">Productos</li>
      <mat-menu #menuFullscreen="matMenu" class="mat-elevation-z0">
        <button mat-menu-item (click)="goProducts(0)">CORE</button>
        <button mat-menu-item (click)="goProducts(1)">SmartVision</button>
        <button mat-menu-item (click)="goProducts(2)">Solución de Oficina</button>
        <button mat-menu-item (click)="goProducts(3)">Fábrica de creditos</button>
        <button mat-menu-item (click)="goProducts(4)">Portal Transaccional</button>
        <button mat-menu-item (click)="goProducts(5)">Vinculaciones</button>
        <button mat-menu-item (click)="goProducts(6)">Cobranzas</button>
        <button mat-menu-item (click)="goProducts(7)">ChatBot</button>
      </mat-menu>
      <li matTooltip="Justo lo que necesitas" (click)="goApps()">Apps</li>

      <li matTooltip="Estos son nuestros aliados." (click)="goCostumers()">Clientes</li>
      <li matTooltip="Conoce quienes somos." (click)="goInfo()">Nosotros</li>
      <li matTooltip="Comunicate con nosotros" (click)="goCotactUs()">Contactanos</li>

      <li matTooltip="Úbicanos en el mapa." (click)="gofindUs()">Encuéntranos</li>
      
    </ul>
    <span class="example-spacer"></span>
    <button class="shortMenu" mat-icon-button [matMenuTriggerFor]="menuHandset">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menuHandset="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="products">Productos</button>
      <button mat-menu-item matTooltip="Justo lo que necesitas." (click)="goCostumers()">Apps</button>

      <button mat-menu-item matTooltip="Estos son nuestros aliados." (click)="goCostumers()">Clientes</button>
      <button mat-menu-item matTooltip="Conoce quienes somos." (click)="goInfo()">Nosotros</button>
      <button mat-menu-item matTooltip="Comunicate con nosotros" (click)="goCotactUs()">Contactanos</button>

      <button mat-menu-item matTooltip="Úbicanos en el mapa." (click)="gofindUs()">Encuéntranos</button>
    </mat-menu>

    <mat-menu #products="matMenu" class="smallMenu" style="height: 208px !important;">
      <button mat-menu-item (click)="goProducts(0)">CORE</button>
      <button mat-menu-item (click)="goProducts(1)">SmartVision</button>
      <button mat-menu-item (click)="goProducts(2)">Solución de Oficina</button>
      <button mat-menu-item (click)="goProducts(3)">Fábrica de creditos</button>
      <button mat-menu-item (click)="goProducts(4)">Portal Transaccional</button>
      <button mat-menu-item (click)="goProducts(5)">Vinculaciones</button>
      <button mat-menu-item (click)="goProducts(6)">Cobranzas</button>
      <button mat-menu-item (click)="goProducts(7)">ChatBot</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
  <div class="item item1" id="landing" style="height: 100vh; background-color: white">
      <app-landing></app-landing>
  </div>
 
  <div class="item item2" id="products" style="height: 100vh;">
    <app-products [index]="index"></app-products>
  </div>
  <div class="item item3" id="apps" style="height: 100vh;">
     <app-apps></app-apps>
  </div>
  <div  id="costumers" style="height: 100vh;">
    <app-costumers></app-costumers>
  </div>
  <div id="information" style="height: 100vh; background-color:whitesmoke">
    <app-aboutus></app-aboutus>
  </div>
  <div id="contactus" style="height: 100vh;">
      <app-contactus></app-contactus>
  </div>
  <div id="findus" style="height: 100vh;">
    <app-findus></app-findus>
  </div>
  
  
</div>

<button mat-raised-button (click)="goTop()" [ngClass]="{'floatButtonTrue': buttonTop, 'floatButtonFalse':!buttonTop}">
  <i class="material-icons">
    keyboard_arrow_up
  </i>
</button>
<mat-toolbar class="fixed-footer" (mouseover)="fullFooter()" (mouseleave)="resumeFooter()" [ngClass]="{'fullFooter': footerSize, 'resumedFooter':!footerSize}">
  <app-footer *ngIf="footerSize" style="    margin-left: auto; margin-right: auto;"></app-footer>
  <mat-icon *ngIf="!footerSize" class="example-icon">phone</mat-icon>
</mat-toolbar>