

<div class="container-fluid costumersBkg" style="height: 100%; width: 100%; padding-top: 65px; ;overflow: hidden">
  <div class="text-center" style="color: white">
    <h1>Estos son algunos de nuestros clientes</h1>
  </div>
 
  <div class="row" *ngIf="this.isHandset" style="height: 100%; width: 100%;overflow-y: auto; overflow-x: hidden">
    <div class="col-sm-12 text-center" style="height: 40vh; padding: 5px" *ngFor="let item of clients; let i=index">
      <a href="http://facebook.com">
      <mat-card class="mat-elevation-z4">
        <img [style.height]="item.h" [style.width]="item.w" [style.border-radius]="item.r" [style.margin-top]="item.m" src="../../../assets/img/{{item.image}}" alt="">
      </mat-card></a>
    </div>
  </div>
  <div class="row" *ngIf="!this.isHandset" style="height: 106%; width: 104%; overflow-y: auto;overflow-x: hidden"
  >
      <div class="col-sm-3 text-center" style="height: 40vh; padding: 5px" *ngFor="let item of clients; let i=index">
          <a [href]="item.url">
        <mat-card class="mat-elevation-z4" style="cursor: pointer;" (click)="goTo(item)">
          <img [style.height]="item.h" [style.width]="item.w" [style.border-radius]="item.r" [style.margin-top]="item.m" src="../../../assets/img/{{item.image}}" alt="">
        </mat-card>
      </a>
      </div>

    </div>
</div>