mat-card{
    transition: height 0.5s ease, width 0.5s ease, margin-top 0.5s ease, background-color 0.5s ease;
    margin: auto;
    width: 30vh;
    height: 75%;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffffd4;
}

mat-card:hover{
    transition: height 0.5s ease, width 0.5s ease, margin-top 0.5s ease, background-color 0.5s ease;
    margin: auto;
    width: 32vh;
    height: 80%;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
  }


.costumersBkg{
    padding: 100px 0;
    background: url(../../../assets/img/clients.jpg) no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
}
