agm-map {
  height: 80%;
}
.header-image {
  background-image: url('../../../assets/img/avatarfind2.png');
  background-size: cover;
}
p {
  font-size: 160%;
}

.resumed {
  transition: height 0.5s ease;
  height: 100%;
}

.expand {
  transition: height 0.5s ease;
  height: 20%;
}

.example-spacer {
  flex: 1 1 auto;
}

@media (max-width: 3840px) {
  .hanset {
    display: none;
  }

  mat-card {
    transition: height 0.5s ease, width 0.5s ease-in-out, margin-top 0.5s ease,
      background-color 0.5s ease;
    margin: auto;
    height: 65%;
    width: 75%;
    margin-top: 30%;
    background-color: #ffffffed;
  }
  
  mat-card:hover {
    transition: height 0.5s ease, width 0.5s ease, margin-top 0.5s ease,
      background-color 0.5s ease;
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 0%;
    background-color: #8bc34ab0;
  }



}

@media (max-width: 750px) {
  .hanset {
    display: block;
  }

  mat-card {
    transition: height 0.5s ease, width 0.5s ease-in-out, margin-top 0.5s ease,
      background-color 0.5s ease;
    margin: auto;
    height: 65%;
    width: 75%;
    margin-top: 0;
    background-color: #ffffffed;
  }



}

.findusBkg {
  padding: 50px 0;
  background: url(../../../assets/img/findus.jpg) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  border: 0;
}


::ng-deep .mapfit-container .mapfit-pane .mapfit-layer {
  height: 500px !important;
  width: 600px !important;
}
