<div class="container-fluid findusBkg" style="padding-top: 65px; height: 100%; overflow: auto;">
    <div class="row" style="height: 100%; width: 100%; padding-top: 10px; margin: auto ">
        <div class="col-lg-4 "  style="padding: 10px;" [ngClass]="{'resumed': showBogota, 'expand':!showBogota}">
            <mat-card id="cardmapBogota">
                
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Bogotá</mat-card-title>
                    <mat-card-subtitle>Carrera 7 bis 124-26</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <div class="hanset">
                    <button  [hidden]="showBogota" class="" mat-icon-button (click)="showBog()"><i class="material-icons">expand_more </i></button>
                    <button  [hidden]="!showBogota" class="" mat-icon-button (click)="showBog()"><i class="material-icons">expand_less </i></button>
                    </div>
                </mat-card-header>

            </mat-card>
        </div>
        <div class="col-lg-4" style="padding: 10px;" [ngClass]="{'resumed': showMedellin, 'expand':!showMedellin}">
            <mat-card id="cardmapMedellin">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Medellin</mat-card-title>
                    <mat-card-subtitle>Carrera 43a # 1 sur -192</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <div class="hanset">
                    <button  [hidden]="showMedellin" class="" mat-icon-button (click)="showMed()"><i class="material-icons">expand_more </i></button>
                    <button  [hidden]="!showMedellin" class="" mat-icon-button (click)="showMed()"><i class="material-icons">expand_less </i></button>
                    </div>
                </mat-card-header>

            </mat-card>
        </div>
        <div class="col-lg-4" style="padding: 10px;" [ngClass]="{'resumed': showTampa, 'expand':!showTampa}">
            <mat-card id="cardmapTampa">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Tampa</mat-card-title>
                    <mat-card-subtitle> 2736 Land O'lakes Blvd.</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <div class="hanset">
                    <button  [hidden]="showTampa" class="" mat-icon-button (click)="showTamp()" ><i class="material-icons">expand_more </i></button>
                    <button  [hidden]="!showTampa" class="" mat-icon-button (click)="showTamp()" ><i class="material-icons">expand_less </i></button>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>
