<div class="fullscreen-bg">
  <video loop muted autoplay  class="fullscreen-bg__video">
      <source src="../../../assets/video/home.mp4" type="video/mp4">
      <!-- <source src="../../../assets/video/2.1.mp4" type="video/mp4"> -->

  </video>
</div>
<div class="image text-center">
  <img src="../../../assets/img/BankVision.png" alt="">
</div>