.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width:3840px) {
    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      width: 50%;
      padding-top: 31vh
  }
}
  @media (max-width: 750px) {
    .image{
      width: 70%;
    }
   img{width: 100%;
  }
}

