<div class="container-fluid findusBkg text-right"  style="padding-top: 65px; height: 100%; overflow: auto; ">
    <div class="jumbotron" style="background-color: #2da7255e; color: white; margin-left: 50%; margin-right: 2%; margin-top: 2%;">
        <h1 class="display-5">Desarrollo de Aplicaciones</h1>
        <p class="lead"> Nuestra fábrica de crédito realiza rápidamente un completo análisis de toda la información del cliente, garantizando la automatización del proceso de otorgamiento de créditos en las organizaciones</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>