.contactBkg{
    padding: 100px 0;
    background: url(../../../assets/img/contactus.jpg) no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
}

input{
    height: 30px;
    max-width: 100%;
    width: 40%;
    padding: 12px 14px;
    border: 0;
    background: rgba(0,0,0,0.65);
    -webkit-transition: all 0.2s linear;
    -webkit-transition-property: border,background,color,box-shadow,padding;
    transition: all 0.2s linear;
    margin-left: 10px;
    color: white;
    transition-property: border,background,color,box-shadow,padding;
}
textarea{
    height: auto;
    max-width: 100%;
    width: 81%;
    padding: 12px 14px;
    border: 0;
    background: rgba(0,0,0,0.65);
    -webkit-transition: all 0.2s linear;
    -webkit-transition-property: border,background,color,box-shadow,padding;
    transition: all 0.2s linear;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    transition-property: border,background,color,box-shadow,padding;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.726);
    opacity: 1; /* Firefox */
}

form{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}