<div class="container-fluid contactBkg text-center" style="height: 100%; width: 100%; padding-top: 65px; ;overflow: hidden">
<div style="background-color: #0000002e; margin-top: 5%; padding-bottom: 1%;">
  <h1 style="color: white">Contactanos</h1>
<mat-divider></mat-divider>
  <h3 style="color: white">Envianos tus opiniones o inquietudes, pronto te contactaremos </h3>
<form action="">
  <div>
<input type="text" placeholder="Nombre">
<input type="text" placeholder="E-mail">
</div>
<div>
<textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
</div>
<button mat-raised-button type="submit" style="width: 82%; margin-left: 10px; color: white;
background-color: #4caf50b8;">Envíar</button>
</form></div>
</div>
