/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

button.mat-menu-item {
  width: 100%;
  color: white;
}

.mat-tooltip {
  font-size: 15px;
  height: fit-content !important;
  color: white !important;
  border-radius: 30px;
  white-space: pre-line !important;
}

@media (max-width: 3840px) {
  .mat-menu-panel {
    background: #808080c4;
    color: white;
    padding-top: 35px;
    box-shadow: 0ch;
  }
}

@media (max-width: 750px) {
  .mat-menu-panel {
    background: #808080c4;
    color: black;
    padding-top: 35px;
    box-shadow: 0ch;
  }
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: stretch;
  height: stretch;
  z-index: -100;
}

.big-card {
  
  height: 100% !important;
  width: 100% !important;
}
